{% extends "link.html" %}
{%block title%}InKsPIRE | Password Reset Confirm{%endblock%}
{%load static %}

    {% block content %}


<section class="form__section">
    <div class="container form__section-container">
        {% if validlink %}
        <center>
            <a href="/">
                <h2 style="font-family: cursive; font-size:2rem;">Password reset confirm</h2>
            </a>
        </center>
        <br />
        <!-- ============ massages ============ -->

        <form method="POST">
            {% csrf_token %}

            <h5>Confirm  : </h5>
            {{form.as_p}}

            <button style="margin-top:1rem;" type="submit" class="btn" value="Reset Password">Submit</button>

        </form>
        {% else%}


        <div class="alert__message error">
            <p>the password reset link was invalid, possibly because it has already been used. Please request a new password reset!</p>
        </div>

        {%endif%}

    </div>
</section>



        {% endblock content %}
