{% extends "link.html" %}
{%block title%}InKsPIRE | Password Reset Done{%endblock%}
{%load static %}

    {% block content %}


<section class="form__section">
    <div class="container form__section-container">
        <center>
            <a href="/">
                <h2 style="font-family: cursive; font-size:2rem;">Password Reset Done!</h2>
            </a>
        </center>
        <br />
        <!-- ============ massages ============ -->

        <div class="alert__message error">
            <p>An mail with intructions to Reset Password!</p>
        </div>

    </div>
</section>


    {% endblock content %}




